<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./template_style.css">
</head>
<body>
    <div class="container">

        <div class="Header"> <h2>Header</h2> </div>
        <div class="Menu"> <h2>Menu</h2> </div>
        <div class="Section"> <h2>Menu</h2> </div>
        <div class="Aside"> <h2>Content</h2> </div>
        <div class="Footer"> <h2>Footer</h2> </div>
    </div> 
</body>
</html>